#
#
#
#
#
#
#
#
#
# ------------------ FOR VUEBOOK
#
# Remember you can make ignore exceptions by prepending the
#     filepath with !
# Or upload an empty directory by making a .gitinclude 
#     text file in that dir
# ------------------ Directories
/.git/
# Assets
/assets-oversized/
/assets-new/
# npm / pnpm installed modules
/node_modules/
# Temp Directories for VuePress local server
/docs/.vuepress/.cache/
/docs/.vuepress/.temp/
# VuePress Build Distribution
/docs/.vuepress/dist/
# Retired Files
/docs/00-retired/

# 
# ------------------ Files
*.DS_Store
*.mov
*.mp4
*.mat
*.fig