// you can change colors here
$theme-color: #096dd9;

// primary font-family
$font-family: "Atkinson Hyperlegible, sans-serif";
// heading font-family
$font-family-heading: "Atkinson Hyperlegible, sans-serif";